@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h2>Calculate sum of two numbers</h2>
<fieldset>
    <legend>Enter Number</legend>
    @using (Html.BeginForm("CalculateSum", "Home"))
    {
        <div>
            <label for="FirstNumber">First Number:</label>
            <input type="number" name="FirstNumber" class="form-control" value="0" />
        </div>
        <div>
            <label for="SecondNumber">Second Number:</label>
            <input type="number" name="SecondNumber" class="form-control" value="0" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit btn btn-primary" />
        </div>
    }
</fieldset>
<div>
    <span>Result: @ViewBag.Result</span>
</div>