@model UserVoice.Web.ViewModels.IdeaViewModels.IdeaViewModel

<div style="width:100px; height:60px;border: 1px solid black">
    <strong>@Model.Votes</strong><br />
    <span>votes</span>
</div>
<br />
