doctype html
html
    head
        title | home
        link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css", rel="stylesheet", integrity="sha256-Whc+9091keLVBxbyK4U697hqB4bcED+6LC64E9GuJkk= sha512-9PPlANXApnRCz1LMx2LPWwRfOKkWjQvH98q2lkxEG6/r6YVoQ+F48btbiuOpDsWHjpZrCfcGrPoVenVl69V09A==", crossorigin="anonymous")
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1').navbar-toggle.collapsed
                        span.sr-only: | Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')= BuyThisShit
                #bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        each val in entries
                            li
                                a(href='/' + val.toLowerCase())
                                    =val
        block content
        foooter
            | @This is sample test site. Do not .