<h3>All fortune cookies:</h3>
<ul id="allCookies">
{{#each this}}
    <li>{{text}}
        <div class="special">
            <button class="btn btn-sm share" data-info="{{@index}}">Share</button>
            <button class="btn btn-sm like" data-info="{{@index}}">Like</button>
            <button class="btn btn-sm dislike" data-info="{{@index}}">Dislike</button>
        </div>
    </li>
{{/each}}
</ul>

<button  id="likesSortButton" class="btn btn-default">Sorty by Likes</button>
<button  id="dateSortButton" class="btn btn-danger">Sorty by ShareDate</button>