<fieldset>
    <legend>Post new cookie:</legend>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="cookieCategoryInput">Category</label>
                <input type="text" class="form-control" id="cookieCategoryInput" />
            </div>
            <div class="form-group">
                <label for="tb-reg-pass">Enter Text</label><br />
                <textarea id="cookieTextArea"></textarea>
            </div>
            <div class="form-group">
                <label for="urlImageInput">Image URL:</label>
                <input type="text" class="form-control" id="urlImageInput" />
            </div>

            <button class="btn btn-default" id="shareButton">Share</button>
        </div>
    </div>
</fieldset>
