extends ./layout.jade
block content
    h1: | Hello, this is home page!
    section
        p: | This is site for information and stuff.
        .jumbotron.text-center
            h1
                | Sarafa has been kidnapped.
