extends ./layout.jade
block content
    .row
        .col-md-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        | Tits
                .panel-body
                    ul
                        img(src='http://img.youtube.com/vi/dtTUHR6al7A/0.jpg')
                        li
                            span: | this is not a phone but has some nice features.
                        li
                            span: | Booty size: just perfect
        .col-md-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        | Tits
                .panel-body
                    ul
                        img(src='http://img.youtube.com/vi/dtTUHR6al7A/0.jpg')
                        li
                            span: | this is not a phone but has some nice features.
                        li
                            span: | Booty size: just perfect